body {
  font-size: 12px;
  background-color: #fff;
  font-family: Helvetica, Arial;
  color: #666;
  padding: 20px;
  margin: 0px;
  text-align: center;
}

div#contentarea {
  text-align: left;
  vertical-align: middle;
  margin: 0px auto;
  padding: 0px;
  width: 550px;
  background-color: #fff;
  border: 1px #564b47;
}

div#innercontentarea { padding: 10px 50px; }
div#innercontentarea form input[type=text] { width: 435px; }
div#innercontentarea form textarea[name=content] { width: 435px; }

table.articles {
  width: 100%;
  line-height: 1;
  text-align: left;
}

table.articles th {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  font-weight: bold;
}

table.articles td {
  border-bottom: 1px solid #eee;
  padding: 6px 0;
}

div#navigation {
  margin: 0px 150px;
  padding: 5px 90px;
  text-align:center;
}

div#navigation div.prev { display:block; float: left; width: 40%; }
div#navigation div.page-number { float:left; width:20%; }
div#navigation div.next { float:right; width:40%; }
.clear { clear:both;}

div#logotype {
  background: #fff url("images/logo88x100.png") 0 0 no-repeat;
  padding-left:100px;
  float:left;
  font-size:1.3em;
  padding-top:20px;
  width:70%;
}

.volver {
  text-decoration:none;
}

#footer-logos {
  text-align:center;
}

#footer-logos li {
  display:inline;
}

#footer-logos a img {
  opacity:0.25;
  border:none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out
}

#footer-logos a:hover img,
#footer-logos a:focus img {
  opacity:0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding-right:15px;
}

div#botoiak input[type="submit"], input[type="reset"] {
  display:inline;
  padding:8px 15px;
  margin-right:15px;
  font-family:Helvetica, Arial, sans-serif;
  font-weight:bold;
  line-height:1;
  color:#444;
  border:none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
  background-image: -moz-linear-gradient(0% 100% 90deg, #bbb, #fff);
  background-color: #fff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -border-radius: 23px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
